/* project two */

.ivote-img {
  height: 40vh;
  border-radius: 10px;
  box-shadow: 3px 3px 15px #525357;

}

.github-link {
  color: dodgerblue;
}

@media(max-width: 600px){
  .ivote-img {
    height: 20vh;
  }

  .about-project {
    font-size: .6rem;
    width: 90%;
    font-weight: 200;
  }
}